body{
    background-color: rgba(116, 241, 200, 0.726);
  
}
.uno{
    margin-top: -1750px;
}

.titulo{  width: 80%;
   
    float: left;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: rgb(40, 40, 46);
    background-color: rgb(82, 150, 116); 
    border-radius: 30px 30px 30px 30px;
    text-shadow: 4px 4px rgb(0, 255, 85);
    margin-left: 100px;
    margin-top: -200px;
}
/*barra*/
.barra{
    margin-right: 200px;
    margin-top: 20px;
    border-radius: 0px 0px 0px 0px;
    border-top: 12px;
    
   
    width: 30%;
    
}
/*
.barra{
    padding: 32px;
    background: #ffff;
    box-shadow: 0px 10px -5px rgb(0,0,0,0.05),0px 20px 25px -5px rgb(0,0,0,0.1);
    border-radius: 24px;
    display: flex;
    align-items: center;
    float: left;

}
*/
.letrasbarra{
    font-size: 20px;
    margin-top: 2000px;
}

.link{
    margin-left: 89px;
}

/*tablas*/

.tablas{
    /*background-color: saddlebrown;*/
    margin-left: 450px;
    margin-top: -190px;
    
}
.text{
    font-size: 20px;
    margin-left: 150px;
}

.abajo{
    margin-top: -120px;
    font-size: 20px;
}

.cinco{
    margin-right: 100px;
}
.diez{
    margin-left: 100px;
    margin-top: -180px;
}

